html,
body {
  background-color: #fff;
  // min-width: 100%;
}
p {
  margin: 0;
}
.tran-3s {
  transition: all 0.3s ease-in-out;
}
.el-message .el-icon-success {
  font-size: px(16);
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: inherit !important;
}
.more_hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  & * {
    position: relative;
    z-index: 97;
    transition: all ease-in-out 0.5s;
  }
  &._more {
    &::before {
      left: px(-60);
    }
    &::after {
      left: px(-80);
    }
  }
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #599ae5;
    position: absolute;
    bottom: px(-60);
    z-index: 1;
    transition: all ease-in-out 0.8s;
    // transition-delay: 0.05s;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #902028;
    position: absolute;
    bottom: px(-80);
    z-index: 0;
    transition: all ease-in-out 0.8s;
  }
  &:hover {
    transition: all ease-in-out 0.8s;
    border-color: #599ae5 !important;
    &::before {
      width: px(240);
      height: px(240);
    }
    &::after {
      width: px(360);
      height: px(360);
    }
    span {
      color: #fff !important;
    }
    .arrow_right {
      background: url("~@/assets/image/arrow_right_active_white.png") no-repeat
        center !important;
      background-size: cover !important;
    }
    i {
      background: url("~@/assets/image/arrow_right_active_white.png") no-repeat
        center !important;
      background-size: cover !important;
    }
  }
  &.big {
    &.left {
      &::before {
        left: px(-100);
        bottom: px(-100);
      }
      &::after {
        left: px(-140);
        bottom: px(-140);
      }
    }
    &.right {
      &::before {
        right: px(-110);
        bottom: px(-100);
      }
      &::after {
        right: px(-140);
        bottom: px(-140);
        transform: rotateY(180deg);
      }
    }
    &:hover {
      &::before {
        width: px(480);
        height: px(480);
      }
      &::after {
        width: px(960);
        height: px(960);
      }
      &.left {
        .YJ {
          background: url("~@/assets/image/about_index_part2_icon1_white.png")
            no-repeat center !important;
          background-size: cover !important;
        }
      }
      &.right {
        .RY {
          background: url("~@/assets/image/about_index_part2_icon2_white.png")
            no-repeat center !important;
          background-size: cover !important;
        }
      }
    }
  }
}

.layout_content_box {
  .page_top_box {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    ._box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      ._title {
        text-align: center;
        height: px(88);
        font-size: px(64);

        color: rgba(255, 255, 255, 1);
        line-height: px(77);
        position: relative;
      }
      ._into {
        max-width: px(600);
        text-align: center;
        font-size: px(16);

        color: rgba(255, 255, 255, 1);
        line-height: px(23);
        p {
          margin: 0;
          max-width: px(600);
          text-align: center;
          font-size: px(16);

          color: rgba(255, 255, 255, 1);
          line-height: px(23);
        }
      }
    }
  }
  .page_bottom_box {
    ._c {
      width: px(1280);
      margin: 0 auto;
    }
    .__part_title {
      display: flex;
      align-items: flex-end;
      img {
        display: block;
        width: px(29);
        height: px(14);
        margin-right: px(16);
        position: relative;
        bottom: px(13);
      }
      .title {
        height: px(50);
        font-size: px(36);
        color: rgba(89, 154, 229, 1);
        line-height: px(50);
      }
    }
  }
  .layout_content_innerbox {
    ._c {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: px(163);
      & > ._top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .layout_content_title {
        height: px(80);
        font-size: px(80);
        color: #666666;
        line-height: px(80);
        font-weight: bold;
        position: relative;
        margin-bottom: px(18);
        z-index: 97;
      }
      .layout_content_into {
        // height: px(30);
        font-size: px(30);
        color: #7f7f7f;
        line-height: px(30);
        letter-spacing: px(6);
        margin-bottom: px(82);
        position: relative;
        &::after {
          content: "";
          display: block;
          width: px(120);
          height: 2px;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: px(-40);
        }
      }
      .layout_content_intro {
        text-align: center;
        width: px(665);
        font-size: px(30);
        color: #7f7f7f;
        line-height: px(46);
        margin-bottom: px(58);
        p {
          margin: 0;
          text-align: left;
          width: px(665);
          font-size: px(30);
          color: #7f7f7f;
          line-height: px(46);
          margin-bottom: px(30);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// .el-pagination {
//   padding: 0;
//   button,
//   .el-pager li {
//     height: px(48);
//     width: px(48);
//     line-height: px(48);
//     border-radius: 0 !important;
//     background-color: rgba(0, 0, 0, 0) !important;
//     border: 1px solid #d8d8d8;
//   }
//   .el-pager {
//     li {
//       &.active {
//         background-color: #599ae5 !important;
//         border-color: #599ae5;
//       }
//     }
//   }
// }
// .el-pagination.is-background .btn-next,
// .el-pagination.is-background .btn-prev,
// .el-pagination.is-background .el-pager li {
//   margin: 0 px(16);
//   min-width: auto;
// }

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 px(16);
  background-color: rgba(0, 0, 0, 0);
  color: #888888;
  min-width: auto;
  border-radius: 0px;
  border: 1px solid #d8d8d8;
  width: px(48);
  height: px(48);
  line-height: px(48);
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #599ae5;
  border-color: #599ae5;
}
.amap-copyright,
.amap-logo {
  display: none !important;
}
.el-input__inner,
.el-textarea__inner {
  background-color: rgba(0, 0, 0, 0);
  height: px(40);
  line-height: px(40);
  border-radius: 0;
  font-size: px(16);
  border: 0.5px solid #fff;
  padding: 0 px(12);
  color: #fff;
  outline: none;
  &:active,
  &:focus {
    border-color: #fff;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
}
.sub_routerview {
  padding-top: px(225);
  &.is_home {
    padding-top: 0;
  }
}
